<% unless posts.empty? %>
  <%= link_to "Create post", new_post_path %>
  
  <% posts.each do |p| %>
    <div>
      <h3><%= p.title %></h3>
    </div>
    <div>
      <h3><%= p.description %></h3>
    </div>
    <div>
      <%= p.content %>
    </div>
  <% end %>
<% else%>
  <p>Nothing to show</p>
  <%= link_to "Create post", new_post_path %>
<% end %>